Source: skypat
Section: libs
Priority: optional
Maintainer: Gavin Lai (賴建宇) <gavin09@gmail.com>
Uploaders: SZ Lin (林上智) <szlin@debian.org>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.0.0
Homepage: https://github.com/skymizer/SkyPat
Vcs-Git: https://anonscm.debian.org/git/collab-maint/skypat.git
Vcs-Browser: https://anonscm.debian.org/git/collab-maint/skypat.git

Package: libskypat-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         wget, automake, autoconf,
         libtool, build-essential,
         libskypat
Description: Development files for skypat
 skypat provides an unit-test framework. Additionally, skypat provides
 performance information to help developers optimize functions.
 .
 This package contains the header files to develop unit test which make use of
 skypat.

Package: libskypat3
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C++ performance analyzing and testing framework
 skypat provides an unit-test framework. Additionally, skypat provides
 performance information to help developers optimize functions.
