#!/usr/bin/make -f

export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --parallel
override_dh_clean:
	dh_clean
	find -name "lt~obsolete.m4" | xargs rm -rf
	find -name "ltversion.m4" | xargs rm -rf
	find -name "ltsugar.m4" | xargs rm -rf
	find -name "ltoptions.m4" | xargs rm -rf
	find -name "libtool.m4" | xargs rm -rf
	find -name ".libs" | xargs rm -rf
	rm -rf scripts/*
